

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


.navbar {
	border: none;
	background: white;
	min-height: 10vh;
	max-height: 10vh;
}

.navbar li > a {
	color: black !important;
	padding: calc(100vh - 90vh - 6.5vh) 1em;
	font-size: 3vh;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
}

.navbar-nav li.active a {
	color: white !important;
	background-color: #006DCC !important;
}

.navbar-nav li.active:hover a {
	color: white !important;
	background-color: #004A99 !important;	
}

.navbar-nav li:hover {
	background: #E0E0E0;
}

.glyphicon {
	margin-right: 8px;
}

.navbar .container-fluid {
	min-height: inherit;
	max-height: inherit;
	height: inherit;
}

.navbar-header {
	min-height: inherit;
	max-height: inherit;
	height: inherit;
}

a.navbar-brand {
	max-height: 8vh;
	margin: 0px 0px;
	padding: 0px 16px;
}

img#logo {
	float: left;
	max-height: 8vh;
	margin: 0.75vh 0px;
	display: inline-block;
}

svg#logo {
	fill: black;
	float: left;
	height: 8vh;
	max-height: 8vh;
	margin: 0.75vh 0px;
	display: inline-block;
}

.navbar-toggle {
	width: 45px;
	height: 45px;
	margin: calc( (10vh - 7vh) / 2 );
	padding: ;
	margin-left: 1em;
	margin-bottom: 0em;
}

.navbar-btn {
	font-size: 3vh;
	margin: calc(100vh - 90vh - 7.75vh) 1.5em;
	margin-left: 0em;
	padding: calc(100vh - 90vh - 9.5vh) 0em;
	font-weight: 700;
	text-transform: capitalize;
}

#toolbar, #toolbar ul {
	background: white;
}

.navbar, .jumbotron, #carousel.carousel {
	margin: 0em;
}

.ribbon {
	color: black;
	margin: 1em 0em 2em 0em;
	height: 4em;
	background: #DDD;
}
.ribbon-inverse {
	color: white;
	background: black;
}

.ribbon div h5 {
	width: 100%;
	margin-top: 0.5em;
	line-height: 1.5em;
	font-size: 1em;
	text-align: center;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
}

.ribbon span.ac-u { text-decoration: underline; }
.ribbon span.ac-b { font-weight: bold; }
.ribbon span.ac-i { font-style: italic; }

.ribbon span.tc-green { color: lime; }
.ribbon span.bg-green { background: lime; }

.ribbon span.tc-red { color: red; }
.ribbon span.bg-red { background: red; }

.ribbon span.tc-white { color: white; }
.ribbon span.bg-white { background: white; }

.ribbon span.tc-black { color: black; }
.ribbon span.bg-black { background: black; }

.ribbon span.tc-blue { color: #09F; }
.ribbon span.bg-blue { color: #09F; }

.ribbon span.tc-yellow { color: yellow; }
.ribbon span.bg-yellow { background: yellow; }

.ribbon span.an-pulse {
	/* preset pulse animation */
}

.jumbotron {
	height: 40vh;
	background: red;
	margin-bottom: 1.5em;
}

#carousel.carousel {
	height: 40vh;
	background: black;
	margin-bottom: 1.5em;
}

#iframe-holder {
	margin: 0;
	padding: 0;
	padding-left: 1em;
  margin-top: 1em;
}

#iframe-caption {
	margin: 0;
	padding: 0;
  margin-top: 1em;
  text-align: justify;
}

#iframe-caption li {
	list-style: none;
}

#iframe-holder iframe, #iframe-holder div {
	width: 100%; 
  height: 200px;
  margin: auto;
  background:
    url(data:image/gif;base64,R0lGODlhAgAUAIABAB1ziv///yH5BAEAAAEALAAAAAACABQAAAIHhI+pa+EPCwA7) repeat-y center top,
    url(data:image/gif;base64,R0lGODlhFAACAIABAIodZP///yH5BAEAAAEALAAAAAAUAAIAAAIIhI8Zu+nIVgEAOw==) repeat-x left center,
    silver;
}

.jumbotron {
	cursor: default;
	background-color: blue;
	background-image: url("carousel1.png");
	background-size: 150%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: absolute;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}

.jumbotron h1 {
	color: white;
	width: 100%;
	font-size: 3em;
	text-align: center;
	font-weight: 900;
	font-family: "Arial", sans-serif;
	text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  text-transform: uppercase;
  margin-top: 7.5vh;
}

#carousel .carousel img {
	height: 40vh;
	margin: auto;
}

#carousel .carousel-inner > .item {
	width: 100%;
	height: 40vh;
	background-size: 125%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

#carousel .carousel-inner > .item:nth-of-type(1) {
	background: red;
	background: url("");
}

#carousel .carousel-inner > .item:nth-of-type(2) {
	background: green;
	background: url("carousel1.png");
}

#carousel .carousel-inner > .item:nth-of-type(3) {
	background: blue;
	background: url("");
}

body > .container {
	margin-bottom: 1.5em;
}

p, li {
	color: black;
	font-size: 16px;
}

p {
	text-align: justify;
	/*text-indent: 16px;*/
}

.container > p, .container > li {
	padding: 1em 1em 0em 1em;
}

.container > .container > li {
	width: 100%;
	margin: 0em 2em 0em 2em;
	padding: 1em 4em 1em 4em;
}


h2 {
	color: #006;
	text-align: left;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
}

footer.footer {
	color: white !important;
	max-width: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
	margin: 0px;
	margin-top: 3em;
	min-height: 25vh;
	background: black;
}
footer.footer .col-xs-6 {
	padding: 0px;
}
footer.footer ul {
	list-style: none;
	padding: 0px;
	margin-bottom: 1em;
}
footer.footer ul li {
	color: white;
	font-size: 1em;
	text-align: left;
	text-indent: 0px;
}
footer.footer ul li a {
	text-align: left;
	color: white !important;
}

footer.footer p {
	color: white;
	font-size: 0.8em;
}

footer .copyright {
	color: white;
	font-size: 12px;
	display: block; /* not able to display until company is legalized */
}

#lower-navigation div {
	display: inline-block;
	width: 49%;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	#lower-navigation div {
		width: 128px;
	}
	#slideshow {
		height: 50vh;
	}
	.carousel-inner > .item {
		height: 50vh;
	}
	.navbar li > a {
		height: 10vh;
	}
	.carousel img {
		height: inherit;
	}
	.ribbon div h5 {
		width: 100%;
		margin-top: 0.75em;
		font-size: 1.5em;
		text-align: center;
		font-weight: 400;
		font-family: "Montserrat", sans-serif;
	}
	#iframe-holder iframe, #iframe-holder div {
	  height: 250px;
	}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	#slideshow {
		height: 60vh;
	}
	.carousel-inner > .item {
		height: 60vh;
	}
	.carousel img {
		height: inherit;
	}
	.ribbon div h5 {
		width: 100%;
		margin-top: 0.075em;
		font-size: 2.5em;
		text-align: center;
		font-weight: 400;
		font-family: "Montserrat", sans-serif;
	}
	#iframe-holder iframe, #iframe-holder div {
	  height: 350px;
	}





}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	#iframe-holder iframe, #iframe-holder div {
	  height: 400px;
	}









}




