::-webkit-scrollbar{width:0}

a {
  text-decoration: none;
}

body {
  font-family: 'Varela Round', sans-serif;
  max-width:96%;
  margin: 0 auto;

}

#logo {
  max-height: 1em;
}

#bossk1 {
  display: block;
  margin: 0 auto;
  max-height: 20em;
  margin-top: 4em;
  margin-bottom: 1em;
}
#allps{
  margin:15px 15px 15px 15px;
    font-size:2em;
}