<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Template: Café</title>
		<meta charset="UTF-8">
    <meta name="keywords" content="teamcodeflow, gamernes9, miclaymon">
    <meta name="description" content="TeamCodeFlow website template #001.">
    <meta name="author" content="Nathaniel Smith, Michael Laymon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="../../resources/TCF_bw-cr_64.png" type="image/png">
    <!-- normalize -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- micGlobal -->
    <link rel="stylesheet" type="text/css" href="../../../../miclaymon.us/public_html/resources/files/global.css">
    <!-- styles/scripts -->
    <link rel="stylesheet" type="text/css" href="main.css">
    <script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span> 
		      </button>
		      <a class="navbar-brand" href="#">
		      	<img id="logo" src="logo.png">
		      </a>
		    </div>
		    <div class="collapse navbar-collapse" id="navigation">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Home</a></li>
		        <li class="dropdown">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu
			        <span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a href="#">Specials</a></li>
			          <li><a href="#">Breakfast</a></li>
			        </ul>
			      </li>
		        <li><a href="#">About</a></li>
		        <button class="btn btn-success navbar-btn">Order Now!</button>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<div class="jumbotron">
		  <h1>BOGO Special</h1> 
		  <h2>Buy one Dat Frap and get one FREE!</h2> 
		</div>
		<section class="col-xs-12">
			<img class="col-xs-12 col-sm-4">
			<div class="col-xs-12 col-sm-8">
				<h3>Dat Frap</h3>
				<p>Lorem ipsum dlor sit amet...</p>
			</div>
		</section>
	</body>
</html>