::-webkit-scrollbar{width:0}

a {
  text-decoration: none;
}

body {
  font-family: 'Varela Round', sans-serif;
  max-width:96%;
  margin: 0 auto;
  margin:15px 15px 15px 15px;
  padding-top:60px;
}

#logo {
  max-height: 1em;
}

#bossk1 {
  display: block;
  margin: 0 auto;
  max-height: 20em;
  margin-top:-.1em;
  margin-bottom: 1em;
}
#allps{
  margin:15px 15px 15px 15px;
  margin-top:-4.5em;
  font-size:1.5em;
}
@media only screen and (min-width: 992px){
  #bossk1{
    margin-left:-1em;
    max-height:50em;
    text-align:left;
    display:inline;
    float:left;
 }
 
}