img[src^="http://"] {
  max-width: 10.5em;
  max-height: 10.5em;
  margin: 0em auto;
}

img[src^="https://"] {
  max-width: 10.5em;
  max-height: 10.5em;
  margin: 0em auto;
}

td {
  width: 10.5em;
  height: 10.5em;
}

td:hover {
  background: url("http://cloud-3.steamusercontent.com/ugc/41981519903766533/94D9F3ED8C1088488DABDF71C26D5F23DD6C12A6/");
  background-size: 200% auto;
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;
}

table {
  margin: auto;
}

h1 {
  font-family: 'Bungee Shade', 'Monoton', sans-serif;
  text-align: center;
}

#buttons {
  text-align: center;
}
